.btn {
    cursor: pointer;
    font-family: Ubuntu, sans-serif;
    font-size: 1.6rem;
    font-weight: 900;
    outline: none;
    text-align: center;
    
    -webkit-tap-highlight-color: transparent;
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:focus {
        outline: none !important
    }
}

.contained-btn {
    @extend .btn;

    
    border: none;
    border-radius: 1.5em;
    min-width: 13.7rem;
    padding: 1.5rem 1.6rem;

    &--white {
        @extend .contained-btn;

        background-color: $neutral-color-1;
        color: $primary-color-1;
    }

    &--primary {
        @extend .contained-btn;
        background-color: $primary-color-1;
        color: $neutral-color-1;
    }
}

.outlined-btn {
    @extend .btn;

    background-color: transparent;
    border: 0.1rem solid $neutral-color-1;
    border-radius: 1.5em;
    color: $neutral-color-1;
    min-width: 13.7rem;
    padding: 1.5rem 1.6rem;
}

.text-btn {
    @extend .btn;

    background-color: transparent;
    border: none;
}