$primary-color-1: #ff525d; // CTA Text
$primary-color-2: #ff7a85; // CTA hover background
$primary-color-3: #1f3f5b; // Headings

$neutral-color-1: white; // text
$neutral-color-2: #c8c8cb; // footer text
$neutral-color-3: #4b5862; // body copy
$neutral-color-4: #25252d; // footer background
$neutral-color-5: #e8e3e3;
$neutral-color-6: #eeeef0;

$gradient-color-1: linear-gradient(to right bottom, #ff8f70, #ff3d54); // intro/cta mobile nav
$gradient-color-2: linear-gradient(to right bottom, #2c2d3f, #3f4164); // body