$primary-color-1: hsl(356, 100%, 66%); // CTA Text
$primary-color-2: hsl(355, 100%, 74%); // CTA hover background
$primary-color-3: hsl(208, 49%, 24%); // Headings

$neutral-color-1: white; // text
$neutral-color-2: hsl(240, 2%, 79%); // footer text
$neutral-color-3: hsl(207, 13%, 34%); // body copy
$neutral-color-4: hsl(240, 10%, 16%); // footer background

$gradient-color-1: linear-gradient(to right bottom, hsl(13, 100%, 72%), hsl(353, 100%, 62%)); // intro/cta mobile nav
$gradient-color-2: linear-gradient(hsl(237, 17%, 21%), hsl(237, 23%, 32%)); // body